<body>
  <h1>About me</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat animi impedit pariatur eaque id facilis aut iste similique ea officia quis quidem rem, deleniti, reprehenderit cumque. Molestiae beatae sequi distinctio?</p>

  <div>
    <h3>Activiteit 1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolores, dolor nihil veniam velit illo a delectus beatae vitae quam consequuntur, provident eveniet. Aliquid culpa quibusdam sapiente accusamus quis cum!</p>
  </div>

  <div>
    <h3>Activiteit 2</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, tempora ullam corrupti omnis velit accusantium harum delectus consequatur labore error sequi, assumenda vel facere id placeat vero similique eaque consectetur?</p>
  </div>

  <div>
    <h3>Activiteit 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, totam eos amet quas, iusto velit veniam accusamus minima culpa porro laudantium? Recusandae perferendis molestiae nihil. Nam recusandae delectus sunt officiis.</p>
  </div>

  <div>
    <h2>Eindreflectie</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quo deserunt ratione, sint unde esse quam delectus vero culpa inventore suscipit eius harum qui error quas, iusto reiciendis repellat laudantium.</p>
  </div>
 
</body>